<mat-sidenav-container class="sidenav-container">

  <!-- Side Nav -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">

    <!-- SideNav Heading -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>

    <!-- Public -->
    <mat-nav-list>

      <div class="mat-subheader">Public</div>

      <mat-list-item routerLink="/">
        <mat-icon matListIcon>home</mat-icon>
        <div class="mat-line">Home</div>
      </mat-list-item>

    </mat-nav-list>

    <!-- Admin -->
    <div *ngIf="authorizationService.userIsAdmin$ | async">
      <mat-divider></mat-divider>

      <mat-nav-list>
        <div class="mat-subheader">Admin</div>

        <mat-list-item routerLink="/admin">
          <mat-icon matListIcon>dashboard</mat-icon>
          <div class="mat-line">Dashboard</div>
        </mat-list-item>

        <mat-list-item routerLink="/admin/technique">
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          <div class="mat-line">Technique</div>
        </mat-list-item>

      </mat-nav-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Navbar -->
    <mat-toolbar color="primary">

      <!-- Sidebar toggle -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="drawer.opened" aria-label="Side nav toggle icon">close</mat-icon>
        <mat-icon *ngIf="!drawer.opened" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- Logo -->
      <a routerLink="/" class="navbar-logo" matRipple>Peitho</a>

      <!-- Access Control -->
      <span>
        <app-access-control></app-access-control>
      </span>

    </mat-toolbar>

    <!-- Body -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>